
ul {
    list-style-image: url('../images/icon-list.svg');
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
  
}

body {
    background-color: hsl(234, 29%, 20%);
}

.top-text {
    color: hsl(234, 29%, 20%);
    font-family: 'roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 2vw;
   
    
}

.bottom-text {
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    
}

.text-body {
   columns: 2;
   background-color: hsl(0, 0%, 100%);
   border-radius: 2vw 2vw 0vw 0vw;
   margin-top: 10%;
   max-width: 1010px;
   margin-left: 15%;
   padding-top: 2vw;
   padding-left: 50px;
   
}

.form-container {
    margin-top: 2vw;
    font-family: 'roboto', sans-serif;
 }

 .email {
    width: 443px;
    height: 50px;
    margin: 1vw 0 1vw 0;
    border-radius: 8px;
    text-indent: 25px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    border: 1px solid black;
}

.signupbtn {
    width: 450px;
    height: 50px;
    border-radius: 8px;
    background-color:hsl(234, 29%, 20%) ;
    border: 2px solid hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.attribution {
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0vw 0vw 2vw 2vw;
    display: inline-block;
    width: 1060px;
    margin-left: 15%;
 }